vivado/sha3scanner_axi_device/sha3scanner_project/sha3scanner_project.sim/sim_sha3_round/behav/xsim/
*.pb
vivado/sha3scanner_axi_device/sha3scanner_project/sha3scanner_project.sim/sim_sha3_theta/behav/xsim/
vivado/sha3scanner_axi_device/sha3scanner_project/sha3scanner_project.runs/.jobs/
vivado/sha3scanner_axi_device/sha3scanner_project/sha3scanner_project.runs/
vivado/sha3scanner_axi_device/sha3scanner_project/sha3scanner_project.sim/sim_sha3_rho_pi/behav/
vivado/sha3scanner_axi_device/sha3scanner_project/sha3scanner_project.sim/sim_sha3_chi/behav/
vivado/sha3scanner_axi_device/sha3scanner_project/sha3scanner_project.sim/sim_sha_iota/behav/
vivado/sha3scanner_axi_device/sha3scanner_project/sha3scanner_project.sim/sim_sha_finalizer/behav/
vivado/sha3scanner_axi_device/sha3scanner_project/sha3scanner_project.sim/uut_sha3/behav/
vivado/sha3scanner_axi_device/sha3scanner_project/sha3scanner_project.sim/uut_sha3_scanner/behav/
*.so
*.sh
vivado/sha3main/sha3main.ip_user_files/bd/design_1/sim/
vivado/sha3main/sha3main.ip_user_files/mem_init_files/
vivado/sha3main/sha3main.ip_user_files/sim_scripts/design_1/
vivado/sha3main/sha3main.runs/.jobs/
vivado/sha3main/sha3main.runs/synth_1/
vivado/sha3main/sha3main.ip_user_files/bd/design_1/ip/design_1_auto_pc_0/sim/design_1_auto_pc_0.v
vivado/sha3main/sha3main.ip_user_files/bd/design_1/ip/design_1_processing_system7_0_0/sim/design_1_processing_system7_0_0.v
vivado/sha3main/sha3main.ip_user_files/bd/design_1/ip/design_1_rst_ps7_0_100M_0/sim/design_1_rst_ps7_0_100M_0.vhd
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/ipshared/
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/ip/design_1_auto_pc_0/synth/design_1_auto_pc_0.v
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/ip/design_1_auto_pc_0/sim/design_1_auto_pc_0.v
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/ip/design_1_auto_pc_0/design_1_auto_pc_0_ooc.xdc
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/ip/design_1_auto_pc_0/design_1_auto_pc_0.xml
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/ip/design_1_auto_pc_0/design_1_auto_pc_0.xci
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/hw_handoff/design_1_bd.tcl
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/hw_handoff/design_1.hwh
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/hdl/design_1_wrapper.v
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/design_1_ooc.xdc
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/ip/design_1_processing_system7_0_0/design_1_processing_system7_0_0.xdc
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/ip/design_1_processing_system7_0_0/
vivado/sha3main/sha3main.srcs/sources_1/bd/design_1/ip/design_1_rst_ps7_0_100M_0/
